/* @media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  header .modal {
    width: 200px;
    justify-content: space-between;
    padding-right: 0.5rem;
  }

  .badges {
    grid-template-columns: repeat(2, 1fr);
  }

  .badges h2 {
    grid-column: 1 / span 2;
  }

  .badges section {
    grid-template-columns: repeat(3, 1fr);
  }

  .badges h3 {
    grid-column: 1 / span 3;
  }

  .banners .multi-line,
  .banners .single-line {
    grid-template-columns: 1fr 1fr;
  }

  .banners section h3 {
    grid-column: 1 / span 2;
  }

  .multi-line .banner-item {
    min-height: 152px;
  }

  .blue-bg {
    width: 700px;
    height: 300px;
    margin-top: -22rem;
    padding: 1.5rem 0;
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .testimonials .picture {
    height: 400px;
    justify-self: flex-start;
    margin-left: 4rem;
    margin-top: 2rem;
  }

  .testimonials .profil {
    border-radius: 1rem;
    top: -3rem;
  }

  .quote {
    margin-top: 0;
  }

  .quote,
  .blue-bg blockquote,
  .blue-bg cite {
    grid-column: 2;
  }

  .blue-bg blockquote {
    padding-right: 1rem;
    padding-left: 6.5rem;
  }

  .testimonials .txt blockquote::before {
    left: -1rem;
  }

  .testimonials .txt blockquote::after {
    right: 13rem;
  }

  .testimonials .txt cite {
    flex-direction: row;
    justify-self: center;
    gap: 2rem;
  }

  .testimonials .txt cite span {
    position: relative;
  }

  .testimonials .txt cite span::before {
    position: absolute;
    content: "/";
    left: -1rem;
    font-weight: bold;
    color: #2e59f3;
  }

  .cards .card-container {
    width: 350px;
  }

  main.toasts {
    grid-template-columns: 1fr 1fr;
  }

  .toasts h2 {
    grid-column: 1 / span 2;
  }

  main.tooltips {
    grid-template-columns: 1fr 1fr;
  }

  main.tooltips h2 {
    grid-column: 1 / span 2;
    margin-bottom: 1rem;
  }

  .tooltips .dark h3,
  .tooltips .light h3 {
    margin-top: 0.5rem;
  }
} */

/* @media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  nav .icon {
    display: none;
  }

  nav .desktop-nav {
    display: flex;
    gap: 1rem;
  }

  nav .desktop-nav a {
    color: #080808;
  }

  nav .desktop-nav a:hover {
    opacity: 0.5;
  }

  .banners {
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }

  .banners h2 {
    grid-column: 1 / span 2;
  }

  .banners .multi-line,
  .banners .single-line {
    grid-template-columns: 1fr;
  }

  .banners section h3 {
    grid-column: 1;
  }

  .testimonials .picture {
    margin-left: 10rem;
  }

  .blue-bg {
    width: 1000px;
  }
  .quote,
  .blue-bg blockquote,
  .blue-bg cite {
    padding-left: 1.5rem;
  }

  .testimonials .txt {
    width: 800px;
  }

  .testimonials .txt blockquote::before {
    left: -1rem;
  }

  .testimonials .txt blockquote::after {
    right: 20rem;
  }

  .toasts .toast-item {
    width: 500px;
  }
} */
