/* @media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  header .modal {
    width: 200px;
    justify-content: space-between;
    padding-right: 0.5rem;
  }

  .badges {
    grid-template-columns: repeat(2, 1fr);
  }

  .badges h2 {
    grid-column: 1 / span 2;
  }

  .badges section {
    grid-template-columns: repeat(3, 1fr);
  }

  .badges h3 {
    grid-column: 1 / span 3;
  }

  .banners section {
    grid-template-columns: 1fr 1fr;
  }

  .banners section h3 {
    grid-column: 1 / span 2;
  }

  .multi-line .banner-item {
    min-height: 152px;
  }
} */

/* @media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  nav .icon {
    display: none;
  }

  nav .desktop-nav {
    display: flex;
    gap: 1rem;
  }

  nav .desktop-nav a {
    color: #080808;
  }

  nav .desktop-nav a:hover {
    opacity: 0.5;
  }

  .banners {
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }

  .banners h2 {
    grid-column: 1 / span 2;
  }

  .banners section {
    grid-template-columns: 1fr;
  }

  .banners section h3 {
    grid-column: 1;
  }
} */
